.flex-box {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.gridInput {
  margin: 10px;
}

#row,  #col, #submitGrid{
  margin: 10px;
}

#play {
  text-align: center;
}
/* #findPath, #sg, #instruction {
  margin: 10px 40%;
  padding: 2px 50px;
  width: 300px;
  text-align: left;
} */